body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 1rem;
    background: #757F9A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    grid-column: 1 /13;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr .5fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 2px -2px black;
    grid-column: 2/5;
    text-align: center;
    padding: 1rem;
}

main {
    box-shadow: 0 4px 2px 1px black;
    grid-row: 2 / 5;
    grid-column: 2/12;
}

#timer {
    text-align: center;
    border: 1px solid black;
    grid-row: 2;
    grid-column: 4;
}

#divUID {
    text-align: center;
    border: 1px solid black;
    grid-row: 2;
    grid-column: 2;
}

#questSpan {
    grid-row: 1;
    grid-column: 2/5;
    border: 1px solid black;
}

.card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1Fr);
    border: 1px solid black;
    min-height: fit-content;
}